div {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0.8em;
    background: lightgoldenrodyellow;
}

ul {
    border-left: 2px solid grey;
}

.selected
{
    font-weight: bold;
    background-color: lightgreen;
}


div.groupsAndValues {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.groupsAndValues div {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.groupsAndValues ul {
    padding: 0;
    border: 0;
}

.groupsAndValues .listItem {
    display: table-row;
}

.groupsAndValues .listItemChildren, .listItemControls {
    display: table-cell;
}

.groupsAndValues .listItemChildren {
    min-width: 25em;
}

.groupsAndValues .listItemControls {
    padding-left: 1em;
}

.groupsAndValues .group h2 {
    border-bottom: 2px solid grey;
    font-family: 'Arial', serif;
    font-style: italic;
}

.groupsAndValues .group div.values {
    margin-left: 1em;
}

.groupsAndValues .listItemAdder input, button {
    font-size: larger;
    font-family: 'Arial', serif;
    font-style: italic;
}

.groupsAndValues .group {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.groupsAndValues .group .listItemAdder input, button {
    font-size: smaller;
    font-style: normal;
}

